* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

p {
  text-align: justify;
}

.heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #d63031;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 5rem;
  margin: auto;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5%;
  width: 8%;
  height: 10%;
  background: #d63031;
  border-radius: 8px;
}

.heading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 8%;
  height: 10%;
  background: #d63031;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #000;
}

.burger {
  position: absolute;
  top: 40px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  z-index: 5;
}

.burger .line-b {
  width: 33px;
  height: 3px;
  margin-bottom: 6px;
  background-color: black;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.navbar .logo img {
  width: 150px;
}

.navbar .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .main-menu ul li {
  padding: 2px 20px;
}

.navbar .main-menu ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

.navbar .main-menu ul li a:hover {
  color: #d63031;
}

.navbar .main-menu ul li a:hover::before {
  width: 100%;
}

.navbar .main-menu ul li a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid #d63031;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header {
  width: 100%;
  height: 400px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  background: url("../assets/banner1.jpg") no-repeat center center/cover;
  border-radius: 10px;
}

.header a {
  border: 2px solid black;
  background-color: #d63031;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin-top: 6rem;
  padding: 4px 16px;
  border-radius: 10px;
}

.header a:hover {
  background-color: white;
  color: #d63031;
}

.services {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  width: 100%;
  height: 450px;
  margin-bottom: 5rem;
}

.services .boxes-s {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  width: 100%;
  margin-top: 7rem;
  padding: 0 20px;
}

.services .boxes-s .img-box-s {
  height: 120px;
  width: 120px;
  margin-bottom: 1.2rem;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  background-color: #d63031;
  border-radius: 50%;
  margin: auto;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .boxes-s .img-box-s img {
  width: 100px;
}

.services .boxes-s .box-s {
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px rgba(214, 48, 49, 0.5);
          box-shadow: 0px 5px 20px rgba(214, 48, 49, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 340px;
  cursor: pointer;
  border: 5px solid #d63031;
  border-top: none;
}

.services .boxes-s .box-s .content {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .boxes-s .box-s .content h3 {
  color: #d63031;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.services .boxes-s .box-s .content p {
  font-size: 16px;
  font-weight: 400;
}

.services .boxes-s #box-1 h3 {
  margin-top: 2rem;
}

.services .boxes-s #box-2 h3 {
  margin-top: 3rem;
}

.items {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  width: 100%;
  height: 500px;
}

.items .boxes-i {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  width: 100%;
  margin-top: 5rem;
  padding: 0 20px;
}

.items .boxes-i .img-box-i {
  height: 106px;
  width: 106px;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  background-color: #d63031;
  border-radius: 50%;
  margin: auto;
  margin-bottom: -3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 8px solid white;
}

.items .boxes-i .img-box-i img {
  width: 75px;
}

.items .boxes-i .box-i {
  width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 252px;
  background: #d63031;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 2px rgba(214, 48, 49, 0.5);
          box-shadow: 0px 3px 2px rgba(214, 48, 49, 0.5);
}

.items .boxes-i .box-i:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.items .boxes-i .box-i:hover::before {
  top: 15px;
}

.items .boxes-i .box-i:hover::after {
  top: 30px;
}

.items .boxes-i .box-i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  width: 80%;
  height: 250px;
  background-color: #d63031;
  z-index: -1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 2px rgba(214, 48, 49, 0.5);
          box-shadow: 0px 3px 2px rgba(214, 48, 49, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.items .boxes-i .box-i::after {
  content: "";
  position: absolute;
  top: 0;
  left: 68px;
  width: 60%;
  height: 250px;
  background-color: #d63031;
  z-index: -2;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 3px rgba(214, 48, 49, 0.5);
          box-shadow: 0px 3px 3px rgba(214, 48, 49, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.items .boxes-i .box-i h3 {
  color: white;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.items .boxes-i .box-i p {
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.contact {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 400px;
  margin-bottom: 10rem;
}

.contact h3 {
  margin-top: 1rem;
}

.contact h3 font {
  color: #d63031;
}

.contact h3 i {
  font-size: 16px;
}

.contact .blocks {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.contact .block-1 {
  height: 100%;
  width: 60%;
  background: url("../assets/contact.jpg") no-repeat center center/cover;
  border-radius: 10px;
}

.contact .block-2 {
  height: 100%;
  width: 40%;
}

.contact .block-2 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.contact .block-2 .line h3 {
  margin-bottom: 0.5rem;
}

.contact .block-2 .line p {
  color: #d63031;
}

.contact .block-2 .line a {
  color: #d63031;
}

.about {
  margin-bottom: 2rem;
}

.about h1 {
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 30px;
  line-height: 24px;
}

.footer {
  width: 100%;
  background-color: #d63031;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0px;
}

.footer p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 1060px) {
  .services {
    height: 900px;
  }
  .services .boxes-s {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .services .boxes-s .box-s {
    width: 300px;
    height: 340px;
    margin-bottom: 1rem;
  }
  .services .boxes-s .box-s:hover .content {
    -webkit-transform: translateY(-96px);
            transform: translateY(-96px);
  }
  .services .boxes-s .box-s .content {
    display: block;
    -webkit-transform: translateY(-96px);
            transform: translateY(-96px);
  }
  .services .boxes-s .box-s .img-box-s {
    width: 100px;
    height: 100px;
  }
  .services .boxes-s .box-s .img-box-s img {
    width: 80px;
  }
  .services .boxes-s #box-2 h3 {
    margin-top: 1.8rem;
  }
  .services .boxes-s #box-3 h3 {
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .items {
    height: 720px;
  }
  .items .boxes-i {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .items .boxes-i .box-i {
    width: 300px;
    margin-bottom: 1rem;
  }
  .contact {
    height: 300px;
  }
  .contact .block-1 {
    display: none;
  }
  .contact .block-2 {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
  .heading::before {
    right: 9%;
  }
  .heading::after {
    left: 9%;
  }
  .navbar .main-menu .menu-nav {
    width: 0px;
    height: 400px;
    background-color: #d63031;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 7rem;
    position: absolute;
    top: -30%;
    left: 0%;
    opacity: 0;
    z-index: 4;
  }
  .navbar .main-menu .menu-nav li a {
    color: white;
  }
  .navbar .main-menu .left {
    opacity: 1;
    width: 400px;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .services {
    height: 1260px;
  }
  .services .boxes-s {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .items {
    height: 1040px;
  }
  .items .boxes-i {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about p {
    font-size: 1rem;
  }
  .header {
    background-size: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .header .btn-header {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 450px) {
  .footer p {
    font-size: 1.1rem;
  }
  .sub-heading {
    font-size: 1.1rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .heading::before {
    display: none;
  }
  .heading::after {
    display: none;
  }
}

@media (max-width: 370px) {
  .services {
    height: 1460px;
  }
  .services .boxes-s .box-s {
    width: 80%;
    height: 420px;
  }
  .items {
    height: 1300px;
  }
  .items .boxes-i .box-i {
    width: 230px;
    height: 345px;
  }
  .footer p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */